body {
  margin: 50px;
  font-family: 'Menlo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: lightskyblue;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid pink;
  background-color: lightyellow;
  height: 70px;
  width: 70px;
  font-size: 25px;
  color: lightskyblue;
}

.responsive-board {
  display: flex;
}

.new-game {
  width: 90px;
  height: 35px;
  background-color: lightskyblue;
  color: lightyellow;
  border: none;
  border-radius: 5px
}

button:hover {
  background-color: deepskyblue;
}

.navbar {
  height: 60px;
  background-color: lightskyblue;
  margin-bottom: 25px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}

.nb-links {
  margin-left: 25px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  color: lightyellow;
}

.form {
  display: flex;
  flex-direction: row;
}

.inputs, .labels {
  display: flex;
  flex-direction: column;
}

input, label, select {
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input, select {
  border-style: none;
  padding: 5px;
  border-radius: 4px;
  background-color: lightyellow;
  margin-right: 40px;
}

select {
  margin-bottom: 20px;
}

label {
  margin-top: 15px;
  margin-bottom: 12px;
}

.tictoctoe {
  display: flex;
  flex-direction: column;
}

.game-ttt {
  display: flex;
}

.board-game {
  display: flex;
  flex-direction: column;
}

.welcome {
  color: lightpink;
  font-weight: bold;
  margin-bottom: 10px;
}

.homepage {
  width: 100%;
  height: 100%;
  background-color: lightyellow;
  color: black;
  font-family: Times;
  font-weight: bold;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
}

.sub-homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}