body {
  margin: 50px;
  font-family: 'Menlo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: lightskyblue;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid pink;
  background-color: lightyellow;
  height: 70px;
  width: 70px;
  font-size: 25px;
  color: lightskyblue;
}

.responsive-board {
  display: flex;
}

.new-game {
  width: 100px;
  height: 50px;
  background-color: lightskyblue;
  color: lightyellow;
  border: none;
  border-radius: 5px
}

button:hover {
  background-color: deepskyblue;
}

.navbar {
  width: 100vh;
  height: 10vh;
  background-color: lightskyblue;
}

.form {
  display: flex;
  flex-direction: row;
}

.inputs, .labels {
  display: flex;
  flex-direction: column;
}

input, label, select {
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input, select {
  border-style: none;
  padding: 5px;
  border-radius: 4px;
  background-color: lightyellow;
}

label {
  margin-top: 15px;
  margin-bottom: 12x;
}