body {
  margin: 50px;
  font-family: 'Menlo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: lightskyblue;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid pink;
  background-color: lightyellow;
  height: 70px;
  width: 70px;
  font-size: 25px;
  color: lightskyblue;
}

.responsive-board {
  display: flex;
}

